body { background: #c5b479; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 10px; display: flex; }
.block-auth-0 { color: #b58644; font-size: 19px; margin-bottom: 5px; }
.block-validator-1 { color: #9b213f; font-size: 20px; margin-bottom: 5px; }
.block-config-2 { color: #1efcbc; font-size: 12px; margin-bottom: 5px; }
.block-cache-3 { color: #31c5c; font-size: 16px; margin-bottom: 5px; }
.block-notify-4 { color: #844cdf; font-size: 20px; margin-bottom: 5px; }